:root {
    --workRed: hsl(15, 100%, 70%);
    --playBlue: hsl(195, 74%, 62%);
    --studyRed: hsl(348, 100%, 68%);
    --exerciseGreen: hsl(145, 58%, 55%);
    --socialViolet: hsl(264, 64%, 52%);
    --selfCareOrange: hsl(43, 84%, 65%);
    --baseBlue: hsl(246, 80%, 60%);
    --veryDarkBlue: hsl(226, 43%, 10%);
    --darkBlue: hsl(235, 46%, 20%);
    --desaturatedBlue: hsl(235, 45%, 61%);
    --paleBlue: hsl(236, 100%, 87%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    font-size: 18px;
    height: 100vh;
    background-color: var(--veryDarkBlue);
    color: var(--paleBlue);
    display: grid;
    align-content: center;
    justify-items: center; 
}

.container {
    width: 50rem;
    height: 22rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.user-container {
    grid-row: span 2;
    background-color: var(--darkBlue);
    border-radius: 1rem;
}

.user-card {
    height: 15.5rem;
    background-color: var(--baseBlue);
    border-radius: 1rem;
    padding: 1.5rem;
}

.user-image {
    height: 3rem;
    width: 3rem;
    border: solid 2px white;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 0.7rem;
    font-weight: 300;
}

.user-name {
    font-size: 2rem;
    font-weight: 300;
}

.option-container {
    border: none;
    padding-left: 1rem;
    color: var(--desaturatedBlue);
    font-size: 0.9rem;
}

.options {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
  }

  .options {
    margin-bottom: 1.4rem;
  }

  .options + label:is(:hover, :focus-visible) {
    color: var(--paleBlue);
}

.options:focus + label {
    color: var(--paleBlue)
}

.time-container {
    border-radius: 1rem;
    height: 10rem;
}

.time-card {
    background-color: var(--darkBlue);
    border-radius: 0.9rem;
    height: 8rem;
    margin-top: 2rem;
    padding: 1rem 0.8rem;
}

h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

h2 p {
    font-size: 0.9rem;
    font-weight: 500;
}

h2 img {
    height: 0.3rem;
}

.current {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0.4rem;
}

.previous {
    font-size: 0.7rem;
    font-weight: 400;
}

.work {
    background-color: var(--workRed);
    background-image: url(images/icon-work.svg);
}

.play {
    background-color: var(--playBlue);
    background-image: url(images/icon-play.svg);
}

.study {
    background-color: var(--studyRed);
    background-image: url(images/icon-study.svg);
}

.exercise {
    background-color: var(--exerciseGreen);
    background-image: url(images/icon-exercise.svg);
}

.social {
    background-color: var(--socialViolet);
    background-image: url(images/icon-social.svg);
}

.selfcare {
    background-color: var(--selfCareOrange);
    background-image: url(images/icon-self-care.svg);
}

.visually-hidden {
    color: transparent;
    font-size: 0.5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

